<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>paymentGateway</display-name>
<!-- Carga el contexto de Spring -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
  
    <!-- Servlet que publica el endpoint como recursos REST -->
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <!-- Clase que configura los recursos REST que publica la aplicacion -->
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>cosw.paymentgateway.rs.config.PaymentGatewayResourceConfig</param-value>            
        </init-param>     
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <!-- Todas las URLs dentro de la aplicacion se interpretan como recursos REST -->
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
  
   
</web-app>